@font-face {
    font-family: 'homevideo';
    src: url('public/fonts/home-video-font/HomeVideo-BLG6G.ttf') format('truetype');
}

@font-face {
    font-family: 'input';
    src: url('public/fonts/Input-Font/InputMono-Bold.ttf') format('truetype');
}
  
:root {
    --c1: #F3F4F8;
    --c2: #D2D4DA;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html {
    cursor: url(./cursor/default.png), auto;
}
html:active, html.active, a, button:active, .button:active, #border2, #start {
    cursor: url(./cursor/point.png), pointer;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}
#borderContainer {
    position: absolute;
}
#border {
    position: relative;
    line-height: 1;
    margin: 0;
    font-size: 1.5vw;
}
#border2 {
  display: none;
  position: relative;
  line-height: 1;
  margin: 0;
  font-size: 1.5vw;
}
#grid {
    margin: 0;
    padding-top: 1vw;
    position: absolute;
    line-height: 1;
    top: 1vw;
    left: 2vw;
    white-space: pre;
    z-index: 1; 
    font-size: 1.9vw;
}

#start {
    margin: 0;
    line-height: 1;
    white-space: pre;
    display: none;
    position: absolute;
    top: 2vw;
    left: 10vw;
    font-size: 5vw;
}
#scene {
    display: none;
    width: 100vw;
    height: 100vh;
}
#screen {
  width: 100vw;
  height: 100vh;
}

.input {
    font-family: "input", monospace;
}

.hvid {
    font-family: 'homevideo', monospace; 
}

#overlay {
    position: absolute;
    left: 1vw;
    top: 1vw;
    margin: 0;
}

.ov-header {
    white-space:nowrap;
    font-size: 5vh;
    margin: 0;
    padding-bottom: 0.3vw;
}

.ov-child {
    white-space:nowrap;
    margin: 0.2vw;
    font-size: 2vh;
}

