@font-face {
    font-family: 'homevideo';
    src: url('public/fonts/home-video-font/HomeVideo-BLG6G.ttf') format('truetype');
}

@font-face {
    font-family: 'input';
    src: url('public/fonts/Input-Font/InputMono-Bold.ttf') format('truetype');
}
  
:root {
    --c1: #F3F4F8;
    --c2: #D2D4DA;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html {
    cursor: url(./cursor/default.png), auto;
}
html:active, html.active, a, button:active, .button:active, #border2, #start {
    cursor: url(./cursor/point.png), pointer;
}
#scene {
    width: 100vw;
    height: 100vh;
    background-color: #0e5f74; 
}

.input {
    font-family: "input", monospace;
}

.hvid {
    font-family: 'homevideo', monospace; 
}
