---
import Layout from '../layouts/Layout.astro'
// import '@fontsource/jetbrains-mono'
// three js and pixel renderer
import '../global.scss'

const GH = 'https://github.com/Thaeriem'
---

<Layout title="Home">
  <h1>HELLO</h1>
  <div class="cursor-ball" id="cur-b"></div>
  <div class="cursor-outline" id="cur-o"></div>
	
</Layout> 

<script>
  document.addEventListener('DOMContentLoaded', () => {
    console.log('DOM fully loaded and parsed');
    let cursorBall = document.getElementById('cur-b');
    let cursorOutline = document.getElementById('cur-o');


    document.addEventListener('mousemove', (e) => {
      if (cursorBall) {
        cursorBall.style.top = `${e.pageY}px`;
        cursorBall.style.left = `${e.pageX}px`;
      }

      if (cursorOutline) {
        cursorOutline.style.top = `${e.pageY}px`;
        cursorOutline.style.left = `${e.pageX}px`;
      }
    });
   // Ensure the cursor elements are hidden when the mouse leaves the window
   document.addEventListener('mouseleave', () => {
      if (cursorBall) cursorBall.style.display = 'none';
      if (cursorOutline) cursorOutline.style.display = 'none';
    });

    // Ensure the cursor elements are shown when the mouse enters the window
    document.addEventListener('mouseenter', () => {
      if (cursorBall) cursorBall.style.display = 'block';
      if (cursorOutline) cursorOutline.style.display = 'block';
    });
    document.addEventListener("mousedown", (e) => {
      if (e.button === 0 && cursorOutline) {
        cursorOutline.classList.add("cursor-mousedown");
      }
    });

    document.addEventListener("mouseup", () => {
      if (cursorOutline) cursorOutline.classList.remove("cursor-mousedown");
    });
  });
</script>

<style lang="scss">
</style>