


body {
    background-color: grey;
    cursor: none; /* Hide the default cursor */
  }
  .cursor-ball {
    width: 8px;
    height: 8px;
    background-color: #000;
  }

  .cursor-outline {
    width: 3rem;
    height: 3rem;
    border: 1px solid #000;
    transition: all 0.05s ease;
  }
  .cursor-ball,
  .cursor-outline {
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    transform: translate(-50%, -50%)
  }
  .cursor-mousedown {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #000;
    background-color: #8454f4;
    transition: all 0.5s ease;
  }